<ul class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6">
  <% books.forEach((book) => { %>
  <li
    class="w-full bg-white border hover:scale-105 transition-all duration-300"
  >
    <a href="/books/<%= book.id %>">
      <img
        src="<%= book.thumbnailUrl %>"
        alt=""
        class="w-full aspect-[10/13] object-cover"
      />

      <div class="space-y-1 p-4 pt-2">
        <div class="font-bold"><%= book.title %></div>
        <div class="text-sm"><%= book.authors.toString() %></div>
        <div class="text-xs"><%= book.published %></div>
      </div>
    </a>
  </li>
  <% }); %>
</ul>
