<div class="space-y-4">
  <div class="flex items-center justify-between">
    <h1 class="font-bold text-lg">
      Books
      <span class="font-extralight text-xs">(<%= totalItems %> book<%= totalItems !== 1 ? 's' : '' %>)</span>
    </h1>

      <!-- <div class="btn-group align-middle flex float-right bg-cyan-900 ">
        <div>
          <a href="/books/table"> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm0 5h18M10 3v18"/></svg></a>
        </div>

        <div>
          <a href="/books/grid"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M8 8H4V4h4zm6-4h-4v4h4zm6 0h-4v4h4zM8 10H4v4h4zm6 0h-4v4h4zm6 0h-4v4h4zM8 16H4v4h4zm6 0h-4v4h4zm6 0h-4v4h4z"/></svg></a>
        </div>
      </div> -->

    <div class="inline-flex items-center space-x-2">
        <form action="/books" method="get">
          <label for="search" class="relative ">
            <input type="search" name="search" id="search" placeholder="Search..." value="<%= search %>" class="h-8 rounded-md inline-flex items-center pl-8 pr-3">
            <svg xmlns="http://www.w3.org/2000/svg" class="absolute top-1 left-2 opacity-50" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06zM10.5 7a3.5 3.5 0 1 1-7 0a3.5 3.5 0 0 1 7 0" clip-rule="evenodd"/></svg>
          </label>
        </form>

      <div class="inline-flex items-center divide-x">
        <button type="button" class="h-8 bg-white rounded-l inline-flex items-center justify-center p-2" aria-label="table display" onclick="toggleDisplay('table')">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm0 5h18M10 3v18"/>
          </svg>
          <span class="sr-only">Table Display</span>
        </button>

        <button type="button" class="h-8 bg-white rounded-r inline-flex items-center justify-center p-2" aria-label="grid display" onclick="toggleDisplay('grid')">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
            <path fill="currentColor" d="M8 8H4V4h4zm6-4h-4v4h4zm6 0h-4v4h4zM8 10H4v4h4zm6 0h-4v4h4zm6 0h-4v4h4zM8 16H4v4h4zm6 0h-4v4h4zm6 0h-4v4h4z"/>
          </svg>
          <span class="sr-only">Grid Display</span>
        </button>
      </div>

      <a
      href="/books/new"
      class="h-8 bg-indigo-950 text-indigo-50 rounded text-sm flex items-center space-x-2 px-4 hover:bg-indigo-600 transition-all duration-200">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
       >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      <span>New Book</span>
    </a>
    </div>
  </div>

  <ul id="grid-display"
    class="grid grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6"
  >
    <% books.forEach((book) => { %>
    <li
      class="w-full bg-white border hover:scale-105 transition-all duration-300"
    >
      <a href="/books/<%= book.id %>">
        <img
          src="<%= book.thumbnailUrl %>"
          alt=""
          class="w-full aspect-[10/13] object-cover"
        />

        <div class="space-y-1 p-4 pt-2">
          <div class="font-bold"><%= book.title %></div>
          <div class="text-sm"><%= book.authors.toString() %></div>
          <div class="text-xs"><%= book.published %></div>
        </div>
      </a>
    </li>
    <% }); %>
  </ul>

  <div id="table-display" class="hidden bg-white rounded-md shadow-md">
    <table class="w-full table-auto">
      <thead>
        <tr class="divide-x-2 divide-white">
          <th class="bg-indigo-950 text-white rounded-tl-md p-2">#</th>
          <th class="bg-indigo-950 text-white p-2">Cover</th>
          <th class="bg-indigo-950 text-white p-2 text-left">Title</th>
          <th class="bg-indigo-950 text-white rounded-tr-md p-2 text-left">Author(s)</th>
        </tr>
      </thead>
  
      <tbody>
        <% books.forEach((book, index) => { %>
          <tr class="divide-x-2 divide-white <%= index % 2 === 0 ? '' : 'bg-indigo-950/10' %>">
            <td class="text-center p-2"><%= currentPage + index %>.</td>
            <td class="px-2 py-1 align-middle">
              <img
             src="<%= book.thumbnailUrl %>"
             alt="book cover"
             class="h-10 aspect-square object-cover"
             />
            </td>

            <td class="px-2 py-1"><%= book.title %></td>
            <td class="px-2 py-1"><%= book.authors.toString() %>  </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div
    class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
  >
    <div class="flex flex-1 justify-between sm:hidden">
      <a
        href="/books?page=<%= currentPage - 1 %>"
        class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >
        Previous
      </a>
      <a
        href="/books?page=<%= currentPage + 1 %>"
        class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >
        Next
      </a>
    </div>

    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%= firstItem %></span>
          to
          <span class="font-medium"><%= lastItem < totalItems ? lastItem : totalItems %></span>
          of
          <span class="font-medium"><%= totalItems %></span>
          book<%= totalItems !== 1 ? 's' : '' %>
        </p>
      </div>

      <div>
        <nav
          class="isolate inline-flex -space-x-px rounded-md shadow-sm"
          aria-label="Pagination"
        >
          <% if (Number(currentPage) > 1) { %>
            <a
            href="/books?page=<%= Number(currentPage) - 1 %>"
            class="relative inline-flex items-center rounded-l-md border border-gray-600 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >
            Previous
          </a>
          <% } %>

          <!-- <a
            href="/books?page=1&limit=12"
            class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            1
          </a>
          <a
            href="/books?page=2&limit=12"
            class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
          >
            2
          </a> -->

          <select
            name="goto-page"
            id="goto-page"
            aria-label="select page"
            onchange="navigatePage()"
          >
            <% for( let index = 0; index < Number(totalPages); index++ ) { %>
            <option value="<%= index + 1 %>" <%= Number(currentPage) === index + 1 ? 'selected' : '' %>>Page <%= index + 1 %></option>
            <% } %>
          </select>

          <% if (Number(currentPage) < Number(totalPages)) { %>
          <a
            href="/books?page=<%= Number(currentPage) + 1 %>"
            class="relative ml-3 inline-flex items-center rounded-r-md border border-gray-600 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >
            Next
          </a>
          <% } %>
        </nav>
      </div>
    </div>
  </div>

  <script>
    const gridDisplay = document.querySelector('#grid-display');
    const tableDisplay = document.querySelector('#table-display');

    function toggleDisplay(val) {
      if (val === 'grid') {
        gridDisplay.classList.remove('hidden');
        gridDisplay.classList.add('grid');

        tableDisplay.classList.remove('block');
        tableDisplay.classList.add('hidden');
      }

      if (val === 'table') {
        gridDisplay.classList.add('hidden');
        gridDisplay.classList.remove('grid');

        tableDisplay.classList.add('block');
        tableDisplay.classList.remove('hidden');
      }
    }

    function navigatePage() {
      const selectedPage = document.querySelector("#goto-page").value;
      // console.log(selectedPage);
      window.location.replace("/books?page=" + selectedPage);
    }
  </script>
</div>
