<div class="bg-white rounded-md shadow-md">
    <table class="w-full table-auto">
      <thead>
        <tr class="divide-x-2 divide-white">
          <th class="bg-indigo-950 text-white rounded-tl-md p-2">#</th>
          <th class="bg-indigo-950 text-white p-2">Cover</th>
          <th class="bg-indigo-950 text-white p-2 text-left">Title</th>
          <th class="bg-indigo-950 text-white rounded-tr-md p-2 text-left">Author(s)</th>
        </tr>
      </thead>
  
      <tbody>
        <% books.forEach((book, index) => { %>
          <tr class="divide-x-2 divide-white <%= index % 2 === 0 ? '' : 'bg-indigo-950/10' %>">
            <td class="text-center p-2"><%= currentPage + index %>.</td>
            <td class="px-2 py-1 align-middle">
              <img
             src="<%= book.thumbnailUrl %>"
             alt="book cover"
             class="h-10 aspect-square object-cover "
             />
            </td>

            <td class="px-2 py-1"><%= book.title %></td>
            <td class="px-2 py-1"><%= book.authors.toString() %>  </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div
    class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
  >
    <div class="flex flex-1 justify-between sm:hidden">
      <a
        href="/books?page=<%= currentPage - 1 %>"
        class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >
        Previous
      </a>
      <a
        href="/books?page=<%= currentPage + 1 %>"
        class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
      >
        Next
      </a>
    </div>

    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium"><%= firstItem %></span>
          to
          <span class="font-medium"><%= lastItem %></span>
          of
          <span class="font-medium"><%= totalItems %></span>
          books
        </p>
      </div>

      <div>
        <nav
          class="isolate inline-flex -space-x-px rounded-md shadow-sm"
          aria-label="Pagination"
        >
          <% if (currentPage > 1) { %>
            <a
            href="/books?page=<%= currentPage - 1 %>"
            class="relative inline-flex items-center rounded-l-md border border-gray-600 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >
            Previous
          </a>
          <% } %>

          <!-- <a
            href="/books?page=1&limit=12"
            class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            1
          </a>
          <a
            href="/books?page=2&limit=12"
            class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex"
          >
            2
          </a> -->

          <select
            name="goto-page"
            id="goto-page"
            aria-label="select page"
            onchange="navigatePage()"
          >
            <% for( let index = 0; index < totalPages; index++ ) { %>
            <option value="<%= index + 1 %>" <%= currentPage === index + 1 ? 'selected' : '' %>>Page <%= index + 1 %></option>
            <% } %>
          </select>

          <% if (currentPage < totalPages) { %>
          <a
            href="/books?page=<%= currentPage + 1 %>"
            class="relative ml-3 inline-flex items-center rounded-r-md border border-gray-600 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
          >
            Next
          </a>
          <% } %>
        </nav>
      </div>
    </div>
  </div>

  <script>
    function navigatePage() {
      const selectedPage = document.querySelector("#goto-page").value;
      // console.log(selectedPage);
      window.location.replace("/books?page=" + selectedPage);
    }
  </script>
</div>
